h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    text-align:center;
}

html {
    width:90%;
    margin:auto;
}

#uploadButton {
    display:block;
    background:pink;
    border:none;
}
